.banner {
    background-color: #1D3A37;
    margin: -95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-main {
    background-image: url("../assets/Image.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: 300px;
    padding: 100px;
    border: 2px dashed #75FF69;
    border-radius: 100%;
    width: 45%;
    margin-top: 60px auto;
    height: 550px;
}

.title {
    font-size: 140px;
    color: white;
    gap: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 85px;
    font-weight: 400;
    padding-bottom: 0;
    line-height: 80%;
}

.title span {
    padding-left: 250px;
    color: #75FF69;
    margin: 0;
    font-style: italic;
    padding-bottom: 0;
}


.title small {
    display: flex;
    justify-content: center;
    font-size: 17px;
    line-height: 20%;
    margin-top: 20px;
    margin-bottom: -20px;

}

.subtitle {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}