/* @font-face {
    font-family: 'Boska-Extralight';
    src: url('../fonts/Boska-Extralight.woff2') format('woff2'),
        url('../fonts/Boska-Extralight.woff') format('woff'),
        url('../fonts/Boska-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
} */

.banner {
    background-color: #1D3A37;
    margin: -95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-main {
    background-image: url("../assets/Image.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: 400px;
    padding: 100px;
    border: 2px dashed #75FF69;
    border-radius: 100%;
    width: 45%;
    margin-top: 60px auto;
    height: 550px;
}

.title {
    font-size: 140px;
    color: white;
    padding: 25px 0 0 0;
    gap: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 100;
}

.title span {
    padding-left: 250px;
    color: #75FF69;
    margin: 0;
    font-style: italic;
    margin: 0;
}


.title small {
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-bottom: -48px;

}

.subtitle {
    text-align: center;
    color: white;
    margin-top: 0px;
}