.statistic {
    z-index: 1;
    margin-top: 70px;
    background-color: white;
    backface-visibility: hidden;
    padding: 50px 80px 0 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.statistic-left {
    width: 60%;
    padding: 0 20px;
}

.statistic-right {
    width: 40%;
    padding: 0 20px;
}

.statistic-left-item {
    width: 210px;
    background-image: url("../assets/Ellipse31.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    gap: 0;
    align-items: center;
    padding: 10px 0;
    height: 260px;
}

.statistic-left-item div {
    padding: 0;
    margin: 0;
}

.tree {
    height: 100px;
    padding: 0;
}

.g {
    font-size: 90px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-weight: 600;
}

.statistic-right-items {
    margin: 40px 0;
    font-weight: 600;
}

.statistic-right-items p {
    margin: 0;
    font-weight: 900;
}

.statistic-right-item {
    display: flex;
    align-items: end;
    gap: 10px;
}

.statistic-right-item h1 {
    font-size: 60px;
    margin: 0;
}

.statistic-right-item small {
    margin-bottom: 15px;
}