body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    color: white;
    z-index: 1;
}

.navbar,
.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-item .home,
.cabins {
    padding-right: 40px;
}

.navbar-item img {
    height: 20px;
    padding: 0;
    margin: 0;
}

.navbar-item .company-name {
    font-size: 22px;
    color: #75FF69;
    padding: 0;
    padding-left: 3px;
    margin: 0;
}